* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);

    -ms-overflow-style: none;
    z-index: 0;
}

/*Hides scrolling bar */
body::-webkit-scrollbar {
    display: none;
}

/* Violet bvackground landing page */
.blue_violet_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115vh;
    background-color: blueviolet;
    z-index: -2;
    /* Combine image and linear gradient */
    /* background-image: url(../img/imgPurple.webp),
        linear-gradient(to bottom, rgb(137, 43, 226) 70%, rgb(255, 255, 255) 90%);
    background-size: 600px, 100%; */
    /* Set background size for both the image and gradient */
    background-position: 90% 50%, bottom;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, blueviolet 20%, #ffffff 95%);
}

/* Navbar list */
li {
    list-style: none;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;
}

a:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}

header {
    position: relative;
    padding: 0 2rem;
}

/* Navbar background violte bar */
.background_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* Height of the navigation bar */
    background-color: blueviolet;
    z-index: 2;
    transition: height 0.3s ease-in;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.359);

    /* change height on scroll */
}

/* Navbar*/
.navbar {
    position: fixed;
    /* Fix the navbar position */
    top: 0;
    /* Stick it to the top of the page */
    width: 100%;
    /* Occupy the full width of the viewport */
    height: 70px;
    /* Set the height of the navbar */
    margin: auto;
    /* Center the navbar horizontally */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    z-index: 2;
    transition: height 0.3s ease-in-out;
    
    /* change height on scroll */
}

/* navbar logo (top-left) */
.navbar .logo {
    margin-right: auto;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

/* Navbar content */
.navbar .links {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/* navbar get started button (top-right) */
.action_btn {
    background-color: rgba(255, 255, 255, 0.746);
    color: #000000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    margin-left: auto;
    margin-right: 10vh;
}

.action_btn:active {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(132, 0, 255);
}

/* Navbar toogle button for resizing screen */
.navbar .toggle_btn {
    color: #fafafa;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

/*To make toogle button responsive*/
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: flex;
        margin-right: auto;
    }

    /* Initially hide the dropdown menu on smaller screens */
    .dropdown_menu {
        display: none;
    }
}

/*DropDown Menu*/
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(0, 0, 0, 0.718);

    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s;
    height: 245px;
    z-index: 2;
}

.dropdown_menu.open {
    height: 245px;
}

.dropdown_menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hero */
#hero {
    height: calc(90vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    #hero h1,
    h2 {
        display: none;
        /* Hide the text on smaller screens */
    }
}

/* search bar */
.search-bar {
    position: absolute;
    top: 200px;
    left: 0;
    margin: 0;
    padding: 100px;
    z-index: 1;
}

.search-bar input[type="text"] {
    padding: 10px;
    /* Adjust padding as needed */
    border: 3px solid blueviolet;
    /* Add border */
    border-radius: 40px;
    /* Add border radius */
    width: 155%;
}

#searchInput{
    padding: 10px;
    /* Adjust padding as needed */
    border: 3px solid rgba(137, 43, 226, 0.327);
    /* Add border */
    border-radius: 40px;
    /* Add border radius */
    width: 50%;
}

/*----------------Filters--------------------*/

.filters {
    margin-bottom: 20px;
    
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid rgba(137, 43, 226, 0.327);
    font-size: 16px;
}

/* BLOB effect under search bar */
.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg,
            rgba(47, 184, 255, 0.42) 31.77%,
            #5c9df1 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 10s infinite alternate;
    animation: move 20s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    z-index: 1;
}

.blob:hover {
    width: 420px;
    height: 420px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
        inset 300px 300px 0 0px #2b86c5;
}

.blob2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg,
            rgba(47, 186, 255, 0.716) 31.77%,
            #5c9df1 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 10s infinite alternate;
    animation: move 20s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    z-index: 1;
}

.blob2:hover {
    width: 200px;
    height: 200px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
        inset 300px 300px 0 0px #2b86c5;
}


@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .search-bar {
        top: 90px;
        /* Position below the navbar */
        left: 40%;
        /* Center horizontally */
        transform: translateX(-50%);
        /* Adjust horizontally to center */
        padding: 10px 0;
        /* Adjusted padding */
    }
}

/* Positioning for full-width screens */
@media (min-width: 769px) {
    #hero h1 {
        position: absolute;
        top: 135px;
        /* Position below the nav bar */
        left: 0;
        margin: 0;
        padding: 100px;
        /* Optional: Add padding for better readability */
    }
}

@media (min-width: 769px) {
    #hero h2 {
        position: absolute;
        top: 100px;
        /* Position below the nav bar */
        left: 0;
        margin: 0;
        padding: 100px;
        /* Optional: Add padding for better readability */
    }
}

/* Show the dropdown menu when the toggle button is clicked */
.dropdown_menu.open {
    display: block;
}

@media (min-width: 993px) {

    /* Hide the dropdown menu on full-size screens */
    .dropdown_menu {
        display: none;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.359);
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a i {
    font-size: 20px;
}

.social-links a:hover {
    color: lightgray;
}

/**-----------------------------MAIN CONTENT OF HERO PAGE/LANDING PAGE----------------------- */
#hero-main {
    padding-left: 20px;
    padding-right: 20px;
    
}

#h1-heroe-main {
    text-align: center;
    font-size: 100px;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    margin-bottom: 100px;
}

/**---------popular services----------- */

#div-popular-services ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

#div-popular-services li {
    width: calc((254.8px - 4px));
    /* Subtract twice the border thickness from the container width and divide by the number of items */
    height: calc((245px - 2px));
    /* Subtract twice the border thickness from the container height and divide by the number of items */
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}

#div-popular-services li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}



/**---------How it works?----------- */

/*----------Feedback/Support----------------*/
.container {
    max-width: 800px;
    margin: 0 auto;

}

.feedback-section {
    padding: 20px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

img {
    display: inline;
    width: 100px;
    height: 100px;
    margin-right: 10px;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #555;
}

.support-section {
    padding: 20px;
}

    /*------------------ Style for service name----------------- */


.section1 {
    display: flex;
    background-color: #f9f9f9;

}

#services-list {
        margin-bottom: 20px;
        padding:100px 100px 100px 100px;
        border-radius: 10px;
        background-color: #f9f9f9;
        width: 1000px;

    }

    /* Style for service container */
    .service-container {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }

    .service-container:hover {
        box-shadow: 0px 0px 10px 5px rgba(139, 109, 136, 0.103);

    }


    .service-name {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: color 0.3s ease;
    }

      /* Style for service name hover */
      .service-name:hover {
        color: blueviolet; /* Change color on hover */

    }

    /* Style for service info */
    .service-info {
        margin-top: 10px;
        margin-left: 25px;
    }

    /* Style for service info paragraphs */
    .service-info p {
        margin: 5px 0;
        
    }

    /* Style for strong elements inside service info */
    .service-info strong {
        font-weight: bold;
        color: #555;
    }

    /* Show service info when hovering over service name */
    .service-name:hover + .service-info {
        display: block;
    }

    .list-img  {
        padding-top: 20px;
    }


    .search-filters{
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .search-filters div{
            padding-left: 10px;

        } 

        .filters label{
            padding-left: 10px;

        } 

        .list-service-inside {
            display: flex;
            justify-content: center;
            align-items: center;
        }
   